@import "tailwindcss";
@plugin "daisyui";

:root {

  --bg-primary: #111111;       
  --bg-secondary: #1a1a1a; 
  --bg-tertiary: #2b2b2b; 
  
  --text-primary: #f5f5f5;      
  --text-secondary: #b0b0b0;   
  --text-muted: #666666;  
  
  --btn-primary: #D41736;  
  --btn-primary-hover: #A6192E; 
  --btn-secondary: #2D2828;  
  --btn-secondary-hover: #3D3838;
  
  
  --border: #2D2828; 
  --border-strong: #3D3838;  
  
  --accent: #D41736;    
  --accent-hover: #A6192E;  
  }

body {
  font-family: Arial, Helvetica, sans-serif;
}
